<div class="wrapper">
    <div class="center">
        <form action="/#">
            <div class="info email">
                <label for="email">Email <span id="star">*</span></label><br>
                <input type="email" id="email" name="email" placeholder="robert@gmail.com">
            </div>
            <div class="info password">
                <label for="pass">Password <span id="star">*</span> </label><br>
                <input type="password" id="pass" name="password" placeholder="Enter your password">
            </div>
            <div class="info password repeat">
                <label for="pass-repeat">Repeat password <span id="star">*</span></label><br>
                <input type="password" id="pass-repeat" placeholder="Enter your password again">
            </div>
            <div class="info">
                <button class="reg-button">Register</button>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/css/main.css">
<script src="/js/script.js"></script>